<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: "link-unstyled text-decoration-none" do %>
              <div class="simple-picture-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key %>)">
                <%= list.name %>
              </div>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add a list", "lists/new", class: "btn btn-primary"%>
